<!DOCTYPE html>
<html lang="en">

<head>
  <%= require('html-loader!./components/head.html') %>
    <title>
      <%= htmlWebpackPlugin.options.title %>
    </title>
</head>

<body>
  <div class="register">
    <div class="modal-wrapper">
      <div class="modal">
        <div class="header">
          <span class="text">京东用户注册协议和隐私政策</span>
          <a href="./index.html" class="quit-btn">
            <i class="fa fa-times"></i>
          </a>
        </div>
        <div class="main">
          <div class="content">
            <p class="title">京东用户协议</p>
            <p class="text">本协议是您与京东网站（简称;本站;，网址：www.jd.com）所有者（以下简称为;京东;））之间就京东网站服务等相关事宜所订立的契约，请您仔细阅读本注册协议，您点击;同意并继续;按钮后，本协议即构成对双方有约束力的法律文件</p>
            <p>
              <span class="text-order">第1条</span>本站服务条款的确认和接纳</p>
            <p>
              <span class="text-order">1.1</span>本站的各项电子服务的所有权和运作权归京东所有。用户同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。</p>
            <p>
              <span class="text-order">1.1</span>本站的各项电子服务的所有权和运作权归京东所有。用户同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。</p>
            <p>
              <span class="text-order">1.1</span>本站的各项电子服务的所有权和运作权归京东所有。用户同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。</p>
            <p>
              <span class="text-order">1.1</span>本站的各项电子服务的所有权和运作权归京东所有。用户同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。</p>
            <p>
              <span class="text-order">1.1</span>本站的各项电子服务的所有权和运作权归京东所有。用户同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。</p>
            <p>
              <span class="text-order">1.1</span>本站的各项电子服务的所有权和运作权归京东所有。用户同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。</p>
            <p>
              <span class="text-order">1.1</span>本站的各项电子服务的所有权和运作权归京东所有。用户同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。</p>
            <p>
              <span class="text-order">1.1</span>本站的各项电子服务的所有权和运作权归京东所有。用户同意所有注册协议条款并完成注册程序，才能成为本站的正式用户。用户确认：本协议条款是处理双方权利义务的契约，始终有效，法律另有强制性规定或双方另有特别约定的，依其规定。</p>
          </div>
          <div class="btn-wrapper">
            <a href="./index.html" class="btn quit-btn">取消</a>
            <a href="#" class="btn agree-btn">同意并继续</a>
          </div>
        </div>

      </div>

    </div>
    <div class="header">

    </div>

  </div>
</body>